/* 
    Author     : Chester Guinto
*/
/*General Page Styling*/

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Showcase 1 Styling*/
#showcase-1 {
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assests/img/showcase.jpg");
  border-bottom: solid 3px #02219e;
  font-size: 1.5em;
  height: 100vh;
  position: relative;
}

#quoteBody{
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}

#authorBody{
  position: relative;
}

#test{
  height: 100vh;
}